<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poets.dao.PoetsMapper">
  <resultMap id="BaseResultMap" type="com.poets.pojo.Poets">
    <constructor>
      <idArg column="sid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="paragraphs" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    sid, id, author, paragraphs, title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from poets
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from poets
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.poets.pojo.Poets">
    insert into poets (sid, id, author, 
      paragraphs, title)
    values (#{sid,jdbcType=INTEGER}, #{id,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{paragraphs,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.poets.pojo.Poets">
    insert into poets
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="paragraphs != null">
        paragraphs,
      </if>
      <if test="title != null">
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="paragraphs != null">
        #{paragraphs,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poets.pojo.Poets">
    update poets
    <set>
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="paragraphs != null">
        paragraphs = #{paragraphs,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poets.pojo.Poets">
    update poets
    set id = #{id,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      paragraphs = #{paragraphs,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>

   <!--  todo:修改限制条件 -->
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="string">
    select
    <include refid="Base_Column_List"/>
    from poets
    where title like '%${key}%' or paragraphs like '%${key}%'
    limit 30
  </select>

  <select id="selectByKeyName" resultMap="BaseResultMap" parameterType="string">
    select
    <include refid="Base_Column_List"/>
    from poets
    where author = #{key}
    limit 20
  </select>




</mapper>